@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Yusei+Magic&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

form {
    background-color: #fff;
    padding: 80px;
}

.result {
    background-color: #fff;
    padding: 40px;
    width: 800px;
}

.result__image {
    width: 200px;
    margin-bottom: 10px;
}

.desc {
    background-color: #fff;
    width: 800px;
    font-family: 'Yusei Magic', sans-serif;
}

.btn {
    all: unset;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    transition: all .2s;
    font-size: 16px;
    padding: 15px 10px;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}